<div class="form-group">
  <input
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    type="{{ type }}"
    [min]="min"
    [readonly]="!readonlyStatus"
    class="form-control bg-color-white"
    [formControl]="ngControl.control"
    placeholder="{{ label }}"
    [maxlength]="maxLength"
  />

  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">
    {{ label }} {{ "is-required" | translate }}
  </div>
  <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
    {{ label }} {{ "must-be-at-least" | translate }}
    {{ ngControl.control.errors.minlength["requiredLength"] }}
  </div>
  <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
    {{ label }} {{ "must-be-at-most" | translate }}
    {{ ngControl.control.errors.maxlength["requiredLength"] }}
  </div>
  <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">
    {{ "Passwords-do-not-match" | translate }}
  </div>
</div>
