<div class="form-group">
    <ng-select
      [items]="zRequestsTypes"
      [class.is-invalid]="ngControl.touched && ngControl.invalid"
      [formControl]="ngControl.control"
      [clearable]="false"
      bindValue="zRequestsTypeId"
      bindLabel="{{ 'name' + (translate.currentLang | titlecase) }}"
      [placeholder]="'SELECTREQUESTTYPE' | translate"
    >
    </ng-select>
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">
      {{ "is-required" | translate }}
    </div>
  </div>
