<div
  class="license-plate"
  [ngStyle]="{ 'background-color': plateColor }"
  dir="ltr"
>
  <span class="license-plate-left">{{ plateNumber }}</span>
  <div
    class="license-plate-middle"
    [ngStyle]="{ 'border-color': plateTextColor }"
  >
    <span
      class="license-plate-middle-top"
      [ngStyle]="{ 'border-color': plateTextColor }"
      >{{ plateCodeAr }}</span
    >
    <span
      class="license-plate-middle-bottom"
      [ngStyle]="{ 'border-color': plateTextColor }"
      >{{ plateCodeEn }}</span
    >
  </div>
  <span
    class="license-plate-right"
    [ngStyle]="{ 'border-color': plateTextColor }"
    >عُمان</span
  >
</div>
