<div class="container-fluid">
  <div class="edit-profile">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <div class="card-title mb-0">
              <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                  <h4>
                    {{ "PROFILE" | translate }}
                  </h4>
                </div>

                <div
                  *ngIf="LicenseExists == false"
                  class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
                >
                  <a
                    href="javascript:void(0)"
                    ngbTooltip="{{ 'AddLicense' | translate }}"
                    ><i
                      class="fa fa-list-alt"
                      style="font-size: 1.73em"
                      (click)="newDrivingLicense()"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="card-options">
              <a
                class="card-options-collapse"
                [routerLink]=""
                data-toggle="card-collapse"
                ><i class="fe fe-chevron-up"></i></a
              ><a
                class="card-options-remove"
                [routerLink]=""
                data-toggle="card-remove"
                ><i class="fe fe-x"></i
              ></a>
            </div>
          </div>
          <div class="card-body" *ngIf="hrmsInfo">
            <div class="row mb-2">
              <div class="col-auto">
                <img
                  class="img-100 rounded-circle"
                  alt=""
                  src="{{
                    hrmsInfo.img
                      ? 'data:image/jpg;base64,' + hrmsInfo.img
                      : 'assets/images/user/user.png'
                  }}"
                />
              </div>
              <div class="col">
                <h5 class="mb-1">
                  {{
                    hrmsInfo["fullName" + (translate.currentLang | titlecase)]
                  }}
                </h5>
                <!-- <p class="mb-4">{{hrmsInfo.department}}</p> -->
              </div>
            </div>

            <div class="mt-3 form-group">
              <label class="form-label">{{ "Department" | translate }}</label>
              <textarea
                rows="2"
                class="form-control"
                readonly
                style="background-color: white !important"
                value="{{
                  hrmsInfo['department' + (translate.currentLang | titlecase)]
                }}"
              >
              </textarea>
            </div>

            <div class="mt-3 mb-7 form-group">
              <label class="form-label">{{ "Designation" | translate }}</label>
              <textarea
                rows="2"
                style="background-color: white !important"
                class="form-control"
                readonly
                value="{{
                  hrmsInfo['designation' + (translate.currentLang | titlecase)]
                }}"
              ></textarea>
            </div>

            <div class="mt-3 mb-7 form-group">
              <label class="form-label">{{ "E-mail" | translate }}</label>
              <textarea
                rows="2"
                style="background-color: white !important"
                class="form-control"
                readonly
                value="{{ hrmsInfo.email }}"
              ></textarea>
            </div>

            <div class="mt-3 form-group">
              <label class="form-label">{{ "Mobile" | translate }}</label>
              <textarea
                rows="2"
                style="background-color: white !important"
                class="form-control"
                readonly
                value="{{ hrmsInfo.mobile }}"
              ></textarea>
            </div>

            <div class="mt-3 mb-7 form-group"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <form class="card">
          <div class="card-body">
            <nav ngbNav #nav="ngbNav" class="nav-tabs">
              <ng-container
                [ngbNavItem]="1"
                *appHasRole="['Admin', 'Security Admin', 'SysAdmin', 'Staff']"
              >
                <a ngbNavLink>
                  <i class="icofont icofont-group-students"></i
                  >{{ "MYVISITORS" | translate }}</a
                >
                <ng-template ngbNavContent>
                  <app-visitor-section
                    [isOfficer]="this.isOfficer"
                    [usersId]="this.usersId"
                  ></app-visitor-section>
                </ng-template>
              </ng-container>
              <!-- Gate Pass -->
              <ng-container [ngbNavItem]="2">
                <a ngbNavLink>
                  <i class="icofont icofont-police-car-alt-1"></i>
                  {{ "MYGATEPASS" | translate }}
                </a>
                <ng-template ngbNavContent>
                  <app-gate-pass-section
                    [usersId]="this.usersId"
                  ></app-gate-pass-section>
                </ng-template>
              </ng-container>
              <ng-container [ngbNavItem]="3">
                <a ngbNavLink>
                  <i class="icon-receipt"></i>
                  {{ "MyFines" | translate }}
                </a>
                <ng-template ngbNavContent>
                  <app-fine-section [usersId]="this.usersId"></app-fine-section>
                </ng-template>
              </ng-container>
            </nav>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
