<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    {{ "FineHistory" | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col-2">#</th>
                <th scope="col-4">{{ "FineType" | translate }}</th>
                <th scope="col-4">{{ "FineReason" | translate }}</th>

                <th scope="col-2">{{ "DATE" | translate }}</th>
                <!-- <th
                  scope="col"
                  *appHasRole="['Admin', 'Security Admin', 'SysAdmin']"
                >
                  {{ "FineIssuedBy" | translate }}
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataCard; let i = index">
                <th scope="row">
                  {{
                    pagination.itemsPerPage * (pagination.currentPage - 1) +
                      (i + 1)
                  }}
                </th>
                <td>
                  {{
                    item["zFinesTypeName" + (translate.currentLang | titlecase)]
                  }}
                </td>

                <td>
                  {{
                    item[
                      "zFinesReasonName" + (translate.currentLang | titlecase)
                    ]
                  }}
                </td>
                <td>
                  {{ item.createdOn | date : "YYYY-MM-dd h:mm:ss a" }}
                </td>
                <!-- <td>
                  {{ item.phone }}
                </td> -->
                <!-- <td *appHasRole="['Admin', 'Security Admin', 'SysAdmin']">
                  {{ item["fullName" + (translate.currentLang | titlecase)] }}
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
        <ngb-pagination
          [boundaryLinks]="true"
          [(page)]="pagination.currentPage"
          [pageSize]="pagination.itemsPerPage"
          [collectionSize]="pagination.totalItems"
          (pageChange)="changePage($event)"
          [rotate]="true"
          [maxSize]="5"
          [boundaryLinks]="true"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer mt-4">
  <span>
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">
      Close
    </button>
  </span>
</div>
