<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    {{ "CheckInDetails" | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form *ngIf="checkInData">
  <div class="modal-body">
    <check-in-details
      [checkInData]="checkInData"
      [pagination]="pagination"
      [checkInDetails]="checkInDetails"
    ></check-in-details>

    <div class="modal-footer mt-4">
      <span>
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="closeModal()"
        >
          Close
        </button></span
      >
    </div>
  </div>
</form>
