<div
  class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
  *ngIf="searchForm"
  [formGroup]="searchForm"
>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h5><i class="fa fa-filter mr-2"></i>{{ "Filter" | translate }}</h5>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
          <request-type-selection
            formControlName="zRequestsTypeId"
          ></request-type-selection>
        </div>

        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <month-picker formControlName="month"></month-picker>
        </div> -->

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button class="btn btn-dark" type="button" (click)="searchReset()">
            {{ "Reset" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="card">
        <!-- <div class="card-header"></div> -->
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">{{ "RequesterName" | translate }}</th>
                <th scope="col">{{ "RequestType" | translate }}</th>
                <th scope="col">{{ "StatusOfRequest" | translate }}</th>
                <th scope="col">{{ "UserRole" | translate }}</th>
                <th scope="col">{{ "RequestDate" | translate }}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataCard; let i = index">
                <th scope="row">
                  {{
                    pagination.itemsPerPage * (pagination.currentPage - 1) +
                      (i + 1)
                  }}
                </th>
                <td>
                  {{ item["fullName" + (translate.currentLang | titlecase)] }}
                </td>
                <td>
                  {{
                    item[
                      "zRequestsTypesName" + (translate.currentLang | titlecase)
                    ]
                  }}
                </td>
                <td>
                  {{
                    item[
                      "zRequestsStatusName" +
                        (translate.currentLang | titlecase)
                    ]
                  }}
                </td>
                <td>
                  {{
                    item["userTypeName" + (translate.currentLang | titlecase)]
                  }}
                </td>
                <td>{{ item.requestDate | date }}</td>
                <td>
                  <span [ngbTooltip]="'View Request'"
                    ><a
                      href="javascript:void(0)"
                      (click)="
                        openRequest(item.requestsId, item.zRequestsTypesId)
                      "
                      ><i class="fa fa-file-text"></i
                    ></a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ngb-pagination
        [boundaryLinks]="true"
        [(page)]="pagination.currentPage"
        [pageSize]="pagination.itemsPerPage"
        [collectionSize]="pagination.totalItems"
        (pageChange)="changePage($event)"
        [rotate]="true"
        [maxSize]="5"
        [boundaryLinks]="true"
      ></ngb-pagination>
    </div>
  </div>
</div>
