<div class="row" [formGroup]="vehicleDetails" *ngIf="vehicleDetails">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <label for="name">{{ "VehicleMaker" | translate }} <span class="font-danger">*</span>:</label>

    <app-car-maker-autocomplete
      [formControl]="vehicleDetails.controls['zMakerId']"
      [selectedId]="this.vehicleDetails.get('zMakerId').value"
    ></app-car-maker-autocomplete>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <label for="VehicleModel">{{ "VehicleModel" | translate }} <span class="font-danger">*</span>:</label>
    <app-car-model-autocomplete
      [makerId]="vehicleDetails.get('zMakerId').value"
      [formControl]="vehicleDetails.controls['zModelId']"
      [selectedId]="this.vehicleDetails.get('zModelId').value"
    >
    </app-car-model-autocomplete>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
    <label for="zColorsId">{{ "Colors" | translate }} <span class="font-danger">*</span>:</label>
    <app-colors-autocomplete
      [formControl]="vehicleDetails.controls['zColorsId']"
      [selectedId]="this.vehicleDetails.get('zColorsId').value"
    ></app-colors-autocomplete>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
    <label for="Year">{{ "Year" | translate }}:</label>
    <year-picker
      [formControl]="vehicleDetails.controls['year']"
      [readonlyStatus]="!this.vehicleDetails.controls['year'].disabled"
      [yearData]="this.vehicleDetails.get('year').value"
    ></year-picker>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
    <label for="name">{{ "IssueDate" | translate }} <span class="font-danger">*</span>:</label>
    <app-date-picker
      [formControl]="vehicleDetails.controls['registrationIssue']"
      [label]="'IssueDate' | translate"
      [readonlyStatus]="
        !this.vehicleDetails.controls['registrationIssue'].disabled
      "
    >
    </app-date-picker>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
    <label for="name">{{ "ExpiryDate" | translate }} <span class="font-danger">*</span>:</label>
    <app-date-picker
      [formControl]="vehicleDetails.controls['registrationExpairy']"
      [label]="'ExpiryDate' | translate"
      [readonlyStatus]="
        !this.vehicleDetails.controls['registrationExpairy'].disabled
      "
      [minDate]="this.maxDate"
    >
    </app-date-picker>
  </div>

  <div
    class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2"
    *ngIf="
      (this.vehicleDetails.get('isExpire').value == true &&
        this.vehicleDetails.get('registrationURL').value != null &&
        this.isSecurity == false &&
        this.vehicleDetails.get('isEdit').value == true) ||
      (this.vehicleDetails.get('registrationURL').value == null &&
        this.vehicleDetails.get('isExpire').value == true &&
        this.isSecurity == false &&
        this.vehicleDetails.get('isEdit').value == true)
    "
  >
    <label for="name">{{ "VehicleRegistration" | translate }} <span class="font-danger">*</span>:</label>
    <app-upload-file
      required
      [formControl]="vehicleDetails.controls['registrationAttach']"
      [label]="'idCard'"
      [fileType]="'PDF'"
      (change)="
        checkFileSize(
          $event.target.files,
          'vehicleDetails.registrationAttach',
          true
        )
      "
    ></app-upload-file>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2" *ngIf="isSecurity">
    <label for="name">{{ "VehicleRegistration" | translate }} :</label>
    <div>
      <a
        href="javascript:void(0)"
        id="viewAttachment"
        name="viewAttachment"
        ngbTooltip="View Document"
        class="mt-1"
        ><i
          class="fa fa-file-pdf-o"
          style="font-size: 1.73em"
          (click)="getAttachmentFile('registrationURL')"
        ></i
      ></a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="zOwnershipTypeId">{{ "OwnerShipType" | translate }} <span class="font-danger">*</span>:</label>
        <owner-type-selection
          [formControl]="vehicleDetails.controls['zOwnershipTypeId']"
          [selectedId]="this.vehicleDetails.get('zOwnershipTypeId')?.value"
        >
        </owner-type-selection>
      </div>
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    *ngIf="vehicleDetails.get('zOwnershipTypeId').value == 1"
  >
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <label for="OwnVehicle">{{ "OwnVehicle" | translate }} <span class="font-danger">*</span>:</label>
        <mat-slide-toggle class="m-4" formControlName="owned">
          {{
            (vehicleDetails.get("owned").value == true ? "Yes" : "No")
              | translate
          }}
        </mat-slide-toggle>
      </div>
      <!-- *ngIf="
        (!this.vehicleDetails.get('owned').value == true &&
          this.vehicleDetails.get('isExpire').value == true &&
          this.vehicleDetails.get('ownerIdCardURl').value != null) ||
        (this.vehicleDetails.get('ownerIdCardURl').value == null &&
          !this.vehicleDetails.get('owned').value == true &&
          this.vehicleDetails.get('isExpire').value == true)
      " -->
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
        *ngIf="!this.vehicleDetails.get('owned').value == true"
      >
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
            <label for="name">{{ "OwnersIdcard" | translate }}:</label>
            <app-upload-file
              *ngIf="!this.isSecurity"
              required
              [formControl]="vehicleDetails.controls['ownershipCardAttach']"
              [label]="'ownershipCardAttach'"
              [fileType]="'PDF'"
              (change)="
                checkFileSize(
                  $event.target.files,
                  'vehicleDetails.ownershipCardAttach',
                  true
                )
              "
            ></app-upload-file>
            <div *ngIf="this.isSecurity">
              <a
                href="javascript:void(0)"
                id="viewAttachment"
                name="viewAttachment"
                ngbTooltip="View Document"
                class="mt-1"
                ><i
                  class="fa fa-file-pdf-o"
                  style="font-size: 1.73em"
                  (click)="getAttachmentFile('ownerIdCardURl')"
                ></i
              ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
            <label for="name">{{ "NoObjectionLetter" | translate }} <span class="font-danger">*</span>:</label>
            <app-upload-file
              required
              [formControl]="vehicleDetails.controls['noObjectionAttach']"
              [label]="'noObjectionAttach'"
              [fileType]="'PDF'"
              (change)="
                checkFileSize(
                  $event.target.files,
                  'vehicleDetails.noObjectionAttach',
                  true
                )
              "
              *ngIf="!this.isSecurity"
            ></app-upload-file>
            <div *ngIf="this.isSecurity">
              <a
                href="javascript:void(0)"
                id="viewAttachment"
                name="viewAttachment"
                ngbTooltip="View Document"
                class="mt-1"
                ><i
                  class="fa fa-file-pdf-o"
                  style="font-size: 1.73em"
                  (click)="getAttachmentFile('noObjectionLetter')"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    *ngIf="vehicleDetails.get('zOwnershipTypeId').value == 2"
  >
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
        <label for="name">{{ "RentalContract" | translate }} <span class="font-danger">*</span>:</label>
        <app-upload-file
          *ngIf="!this.isSecurity"
          required
          [formControl]="vehicleDetails.controls['rentalContractAttach']"
          [label]="'rentalContractAttach'"
          [fileType]="'PDF'"
          (change)="
            checkFileSize(
              $event.target.files,
              'vehicleDetails.rentalContractAttach',
              true
            )
          "
        ></app-upload-file>
        <div *ngIf="this.isSecurity">
          <a
            href="javascript:void(0)"
            id="viewAttachment"
            name="viewAttachment"
            ngbTooltip="View Document"
            class="mt-1"
            ><i
              class="fa fa-file-pdf-o"
              style="font-size: 1.73em"
              (click)="getAttachmentFile('rentalContract')"
            ></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Offical Use Only -->

  <fieldset
    class="form-group border col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4"
    *ngIf="
      this.isSecurity ||
      (vehicleDetails.value.isEdit == true &&
        vehicleDetails.value.requestsId != 0)
    "
  >
    <legend class="w-auto px-2">
      <h5>{{ "OfficalUseOnly" | translate }}</h5>
    </legend>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <check-box
              [formControl]="
                vehicleDetails.controls['securitySide'].controls['isverified']
              "
              [id]="'vehicleCheckBox'"
            ></check-box>
          </div>

          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4"
            *ngIf="vehicleDetails.get('securitySide.isverified').value == false"
          >
            <label for="Note">{{ "Note" | translate }} <span class="font-danger">*</span>:</label>
            <app-text-area
              [formControl]="
                vehicleDetails.controls['securitySide'].controls['notes']
              "
            ></app-text-area>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row mt-4">
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-start"
      >
        <button class="btn btn-light mr-1" type="button" awPreviousStep>
          {{ "Back" | translate }}
        </button>
      </div>
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-end"
      >
        <button
          *ngIf="isSecurity == false && vehicleDetails.value.isEdit == true"
          class="btn btn-primary mr-1"
          type="button"
          [disabled]="!vehicleDetails.valid"
          (click)="postVehicle()"
        >
          {{ "NEXT" | translate }}
        </button>
        <button
          class="btn btn-primary mr-1"
          type="button"
          *ngIf="!vehicleDetails.value.isEdit && isSecurity == false"
          awNextStep
        >
          {{ "NEXT" | translate }}
        </button>
        <button
          *ngIf="this.isSecurity"
          class="btn btn-primary mr-1"
          type="button"
          [disabled]="!this.vehicleDetails.get('securitySide').valid"
          (click)="verifyVehicle()"
        >
          {{ "NEXT" | translate }}
        </button>
        <!-- <button class="btn btn-primary mr-1" type="button" (click)="test()">
          Test
        </button> -->
      </div>
    </div>
  </div>
</div>
