<div class="form-group">
  <ng-select
    [items]="visitType"
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    [formControl]="ngControl.control"
    [clearable]="false"
    bindValue="zVisitTypeId"
    bindLabel="{{ 'name' + (translate.currentLang | titlecase) }}"
    [placeholder]="'SELECTVISITTYPE' | translate"
    >
    <!-- bindLabel="nameFull" -->
    <!-- bindLabel="{{ 'name' + (translate.currentLang | titlecase) }} + {{'dayTo'}}" -->
  </ng-select>
  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">
    {{ "is-required" | translate }}
  </div>
</div>
