<div class="form-group">
  <div class="input-group custom-datepicker job-input-datepicker">
    <input
      type="text"
      placeholder="Daterangepicker"
      class="form-control"
      [required]="isRequired"
      [placeholder]="label"
      bsDatepicker
      #ded="bsDatepicker"
      name="yp"
      readonly
      [(ngModel)]="yearData"
      [bsConfig]="{
        minMode: 'year',
        dateInputFormat: 'YYYY',
        isAnimated: true
      }"
      [formControl]="ngControl.control"
      [class.is-invalid]="ngControl.touched && ngControl.invalid"
      style="background-color: white !important"
    />
    <div class="input-group-append">
      <button
        class="btn btn-primary"
        (click)="ded.toggle()"
        [disabled]="!readonlyStatus"
        type="button"
      >
        <i class="fa fa-calendar"></i>
      </button>
    </div>
  </div>
</div>
