<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    {{ "GATEPASS" | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form
  [formGroup]="secondFormGroup"
  (submit)="onSubmit()"
  *ngIf="secondFormGroup"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body step-indicator">
            <aw-wizard navBarLayout="small" class="mb-2">
              <!-- Pass For Start Step -->
              <aw-wizard-step stepTitle="{{ 'PassFor' | translate }}">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 md-2">
                    <label for="OwnVehicle">
                      {{ "OwnVehicle" | translate }}
                    </label>

                    <mat-slide-toggle class="m-4" formControlName="ownVehicleSlider">
                      {{
                        (secondFormGroup.get("ownVehicleSlider").value == true
                          ? "Yes"
                          : "No"
                        ) | translate
                      }}
                    </mat-slide-toggle>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 md-2">
                    <label for="OwnerShipType">
                      {{ "OwnerShipType" | translate }}
                    </label>

                    <mat-slide-toggle
                      class="m-4"
                      formControlName="ownershipTypeSlider"
                      >{{
                        (secondFormGroup.get("ownershipTypeSlider").value == true
                          ? "Commercial"
                          : "Private"
                        ) | translate
                      }}</mat-slide-toggle
                    >
                  </div>
                </div>
                <div class="row">
                  <button type="button" class="btn btn-primary m-3" awNextStep>
                    {{ "NEXT" | translate }}
                  </button>
                </div>
              </aw-wizard-step>
              <!-- Pass For End Step -->

              <aw-wizard-step stepTitle="{{ 'VehicleDetails' | translate }}">
                <div class="row" formGroupName="vehicleDetails">
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-2">
                    <label for="VehicleMaker"
                      >{{ "VehicleMaker" | translate
                      }}<span class="font-danger">*</span></label
                    >
                    <!-- [formControl]="secondFormGroup.controls['carmaker']" -->
                    <!-- formControlName="zCarMakerId" -->
                    <app-car-maker-autocomplete
                      formControlName="zCarMakerId"
                    ></app-car-maker-autocomplete>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-2">
                    <label for="VehicleModel"
                      >{{ "VehicleModel" | translate
                      }}<span class="font-danger">*</span></label
                    >
                    <app-car-model-autocomplete
                      formControlName="zVehicleModelId"
                    ></app-car-model-autocomplete>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-2">
                    <label for="Colors"
                      >{{ "Colors" | translate
                      }}<span class="font-danger">*</span></label
                    >

                    <app-colors-autocomplete
                      formControlName="zColorsId"
                    ></app-colors-autocomplete>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-2">
                    <label for="VehicleNumber"
                      >{{ "VehicleNumber" | translate
                      }}<span class="font-danger">*</span></label
                    >
                    <app-text-input
                      (keypress)="
                        ($event.charCode >= 48 && $event.charCode < 58)
                      "
                      [type]="number"
                      formControlName="plateNumber"
                    >
                    </app-text-input>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-2">
                    <label for="PlateCode"
                      >{{ "PlateCode" | translate
                      }}<span class="font-danger">*</span></label
                    >
                    <app-plate-code-autocomplete
                      formControlName="zPlateCodeId"
                    ></app-plate-code-autocomplete>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-2">
                    <label for="Year"
                      >{{ "Year" | translate
                      }}<span class="font-danger">*</span></label
                    >
                    <app-text-input
                      (keypress)="
                        ($event.charCode >= 48 && $event.charCode < 58)
                      "
                      formControlName="Year"
                      [type]="number"
                    >
                    </app-text-input>
                  </div>
                </div>
                <div class="row">
                  <button class="btn btn-light m-2" type="button" awPreviousStep>
                    {{ "Back" | translate }}
                  </button>
                  <button
                    [disabled]="!this.vehicleDetails.valid"
                    class="btn btn-primary m-2"
                    type="button"
                    awNextStep
                  >
                    {{ "NEXT" | translate }}
                  </button>
                  <button type="button" class="btn btn-primary m-2" awNextStep>
                    {{ "NEXT" | translate }}
                  </button>
                </div>
              </aw-wizard-step>

              <aw-wizard-step
                stepTitle="{{ 'RegistrationDocuments' | translate }}"
              >
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-2">
                    <div>
                      <label for="validatedCustomFile"
                        >{{ "VehicleRegistration-Front" | translate
                        }}<span class="font-danger">*</span></label
                      >
                      <div class="custom-file">
                        <input
                          type="file"
                          [class.is-invalid]="
                            secondFormGroup.get('vehicleRegFrontAttach')
                              .invalid &&
                            (secondFormGroup.get('vehicleRegFrontAttach')
                              .dirty ||
                              secondFormGroup.get('vehicleRegFrontAttach')
                                .touched)
                          "
                          class="custom-file-input"
                          id="validatedCustomFile"
                          [formControl]="
                            secondFormGroup.controls['vehicleRegFrontAttach']
                          "
                          accept="application/pdf"
                          (change)="
                            checkFileSize(
                              $event.target.files,
                              'vehicleRegFrontAttach'
                            )
                          "
                        />
                        <label
                          class="custom-file-label"
                          for="validatedCustomFile"
                          *ngIf="
                            secondFormGroup.value.vehicleRegFrontAttach ==
                            null
                          "
                          >{{ "ChooseFile" | translate }}</label
                        >
                        <label
                          class="custom-file-label"
                          for="validatedCustomFile"
                          *ngIf="
                            secondFormGroup.value.vehicleRegFrontAttach !=
                            null
                          "
                          >{{
                            secondFormGroup.value.vehicleRegFrontAttach
                          }}</label
                        >
                        <small
                          class="form-text text-muted mt-3"
                          id="attachmentHelp"
                        >
                          Attachment Should be <strong>PDF</strong> and Maximum
                          Size is
                          <strong>15MB</strong>
                        </small>

                        <br />
                        <div class="invalid-feedback" style="padding-top: 2px">
                          Attachment is required !
                        </div>
                        <div
                          class="invalid-feedback"
                          style="padding-top: 2px"
                          *ngIf="
                            secondFormGroup.get('vehicleRegFrontAttach')
                              .errors?.requiredFileType
                          "
                        >
                          PDF is required !
                        </div>
                        <div
                          class="invalid-feedback"
                          style="padding-top: 2px"
                          *ngIf="
                            secondFormGroup.get('vehicleRegFrontAttach')
                              .errors?.fileSizeValidator
                          "
                        >
                          File Size exceed 15MB
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-2">
                    <div>
                      <label for="validatedCustomFile3"
                        >{{ "VehicleRegistration-Back" | translate
                        }}<span class="font-danger">*</span></label
                      >
                      <div class="custom-file">
                        <input
                          type="file"
                          [class.is-invalid]="
                            secondFormGroup.get('vehicleRegBackAttach')
                              .invalid &&
                            (secondFormGroup.get('vehicleRegBackAttach')
                              .dirty ||
                              secondFormGroup.get('vehicleRegBackAttach')
                                .touched)
                          "
                          class="custom-file-input"
                          id="validatedCustomFile3"
                          [formControl]="
                            secondFormGroup.controls[
                              'vehicleRegBackAttach'
                            ]
                          "
                          accept="application/pdf"
                          (change)="
                            checkFileSize(
                              $event.target.files,
                              'vehicleRegBackAttach'
                            )
                          "
                        />
                        <label
                          class="custom-file-label"
                          for="validatedCustomFile3"
                          *ngIf="
                            secondFormGroup.value.vehicleRegBackAttach ==
                            null
                          "
                          >{{ "ChooseFile" | translate }}</label
                        >
                        <label
                          class="custom-file-label"
                          for="validatedCustomFile3"
                          *ngIf="
                            secondFormGroup.value.vehicleRegBackAttach !=
                            null
                          "
                          >{{
                            secondFormGroup.value.vehicleRegBackAttach
                          }}</label
                        >
                        <small
                          class="form-text text-muted mt-3"
                          id="attachmentHelp"
                        >
                          Attachment Should be <strong>PDF</strong> and Maximum
                          Size is
                          <strong>15MB</strong>
                        </small>

                        <br />
                        <div class="invalid-feedback" style="padding-top: 2px">
                          Attachment is required !
                        </div>
                        <div
                          class="invalid-feedback"
                          style="padding-top: 2px"
                          *ngIf="
                            secondFormGroup.get('vehicleRegBackAttach')
                              .errors?.requiredFileType
                          "
                        >
                          PDF is required !
                        </div>
                        <div
                          class="invalid-feedback"
                          style="padding-top: 2px"
                          *ngIf="
                            secondFormGroup.get('vehicleRegBackAttach')
                              .errors?.fileSizeValidator
                          "
                        >
                          File Size exceed 15MB
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-2">
                    <label for="IssueDate"
                      >{{ "IssueDate" | translate
                      }}<span class="font-danger">*</span></label
                    >
                    <app-date-picker
                      formControlName="regIssueDate"
                      [readonlyStatus]="true"
                    ></app-date-picker>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-2">
                    <label for="ExpiryDate"
                      >{{ "ExpiryDate" | translate
                      }}<span class="font-danger">*</span></label
                    >
                    <app-date-picker
                      formControlName="regExpireDate"
                      [minDate]="
                        secondFormGroup.get('regIssueDate').value
                      "
                      [readonlyStatus]="true"
                    ></app-date-picker>
                  </div>
                </div>
                <div class="row">
                  <button class="btn btn-light m-2" type="button" awPreviousStep>
                    {{ "Back" | translate }}
                  </button>
                  <button
                    class="btn btn-primary m-2"
                    type="button"
                    *ngIf="this.secondFormGroup.get('zOwnershipTypeId').value == 2;"
                    awNextStep
                  >
                    {{ "NEXT" | translate }}
                  </button>
                  <button
                    [disabled]="!secondFormGroup.valid"
                    type="submit"
                    class="btn btn-success m-2"
                    *ngIf="this.secondFormGroup.get('zOwnershipTypeId').value != 2 && !this.secondFormGroup.valid;"
                  >
                    {{ "Submit" | translate }}
                  </button>
                  <button
                    (click)="test()"
                    type="button"
                  >
                    Test
                  </button>
                </div>
              </aw-wizard-step>
              <aw-wizard-step
                *ngIf="this.secondFormGroup.get('zOwnershipTypeId').value == 2;"
                stepTitle="{{ 'OwnershipDocuments' | translate }}"
              >
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-2">
                    <div>
                      <label for="NoObjectionLetter"
                        >{{ "NoObjectionLetter" | translate
                        }}<span class="font-danger">*</span></label
                      >
                      <div class="custom-file">
                        <input
                          type="file"
                          [class.is-invalid]="
                            secondFormGroup.get('noObjectionAttach').invalid &&
                            (secondFormGroup.get('noObjectionAttach').dirty ||
                              secondFormGroup.get('noObjectionAttach').touched)
                          "
                          class="custom-file-input"
                          id="NoObjectionLetter"
                          [formControl]="
                            secondFormGroup.controls['noObjectionAttach']
                          "
                          accept="application/pdf"
                          (change)="
                            checkFileSize(
                              $event.target.files,
                              'noObjectionAttach'
                            )
                          "
                        />
                        <label
                          class="custom-file-label"
                          for="NoObjectionLetter"
                          *ngIf="
                            secondFormGroup.value.noObjectionAttach == null
                          "
                          >{{ "ChooseFile" | translate }}</label
                        >
                        <label
                          class="custom-file-label"
                          for="NoObjectionLetter"
                          *ngIf="
                            secondFormGroup.value.noObjectionAttach != null
                          "
                          >{{ secondFormGroup.value.noObjectionAttach }}</label
                        >
                        <small
                          class="form-text text-muted mt-3"
                          id="attachmentHelp"
                        >
                          Attachment Should be <strong>PDF</strong> and Maximum
                          Size is
                          <strong>15MB</strong>
                        </small>

                        <br />
                        <div class="invalid-feedback" style="padding-top: 2px">
                          Attachment is required !
                        </div>
                        <div
                          class="invalid-feedback"
                          style="padding-top: 2px"
                          *ngIf="
                            secondFormGroup.get('noObjectionAttach').errors
                              ?.requiredFileType
                          "
                        >
                          PDF is required !
                        </div>
                        <div
                          class="invalid-feedback"
                          style="padding-top: 2px"
                          *ngIf="
                            secondFormGroup.get('noObjectionAttach').errors
                              ?.fileSizeValidator
                          "
                        >
                          File Size exceed 15MB
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-2">
                    <div>
                      <label for="OwnersIdcard"
                        >{{ "OwnersIdcard" | translate
                        }}<span class="font-danger">*</span></label
                      >
                      <div class="custom-file">
                        <input
                          type="file"
                          [class.is-invalid]="
                            secondFormGroup.get('ownerIdAttach').invalid &&
                            (secondFormGroup.get('ownerIdAttach').dirty ||
                              secondFormGroup.get('ownerIdAttach').touched)
                          "
                          class="custom-file-input"
                          id="OwnersIdcard"
                          [formControl]="
                            secondFormGroup.controls['ownerIdAttach']
                          "
                          accept="application/pdf"
                          (change)="
                            checkFileSize($event.target.files, 'ownerIdAttach')
                          "
                        />
                        <label
                          class="custom-file-label"
                          for="OwnersIdcard"
                          *ngIf="secondFormGroup.value.ownerIdAttach == null"
                          >{{ "ChooseFile" | translate }}</label
                        >
                        <label
                          class="custom-file-label"
                          for="OwnersIdcard"
                          *ngIf="secondFormGroup.value.ownerIdAttach != null"
                          >{{ secondFormGroup.value.ownerIdAttach }}</label
                        >
                        <small
                          class="form-text text-muted mt-3"
                          id="attachmentHelp"
                        >
                          Attachment Should be <strong>PDF</strong> and Maximum
                          Size is
                          <strong>15MB</strong>
                        </small>

                        <br />
                        <div class="invalid-feedback" style="padding-top: 2px">
                          Attachment is required !
                        </div>
                        <div
                          class="invalid-feedback"
                          style="padding-top: 2px"
                          *ngIf="
                            secondFormGroup.get('ownerIdAttach').errors
                              ?.requiredFileType
                          "
                        >
                          PDF is required !
                        </div>
                        <div
                          class="invalid-feedback"
                          style="padding-top: 2px"
                          *ngIf="
                            secondFormGroup.get('ownerIdAttach').errors
                              ?.fileSizeValidator
                          "
                        >
                          File Size exceed 15MB
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div>
                      <label for="RentalContract"
                        >{{ "RentalContract" | translate
                        }}<span class="font-danger">*</span></label
                      >
                      <div class="custom-file">
                        <input
                          type="file"
                          [class.is-invalid]="
                            secondFormGroup.get('rentalContract').invalid &&
                            (secondFormGroup.get('rentalContract').dirty ||
                              secondFormGroup.get('rentalContract').touched)
                          "
                          class="custom-file-input"
                          id="RentalContract"
                          [formControl]="
                            secondFormGroup.controls['rentalContract']
                          "
                          accept="application/pdf"
                          (change)="
                            checkFileSize($event.target.files, 'rentalContract')
                          "
                        />
                        <label
                          class="custom-file-label"
                          for="RentalContract"
                          *ngIf="secondFormGroup.value.rentalContract == null"
                          >{{ "ChooseFile" | translate }}</label
                        >
                        <label
                          class="custom-file-label"
                          for="RentalContract"
                          *ngIf="secondFormGroup.value.rentalContract != null"
                          >{{ secondFormGroup.value.rentalContract }}</label
                        >
                        <small
                          class="form-text text-muted mt-3"
                          id="attachmentHelp"
                        >
                          Attachment Should be <strong>PDF</strong> and Maximum
                          Size is
                          <strong>15MB</strong>
                        </small>

                        <br />
                        <div class="invalid-feedback" style="padding-top: 2px">
                          Attachment is required !
                        </div>
                        <div
                          class="invalid-feedback"
                          style="padding-top: 2px"
                          *ngIf="
                            secondFormGroup.get('rentalContract').errors
                              ?.requiredFileType
                          "
                        >
                          PDF is required !
                        </div>
                        <div
                          class="invalid-feedback"
                          style="padding-top: 2px"
                          *ngIf="
                            secondFormGroup.get('rentalContract').errors
                              ?.fileSizeValidator
                          "
                        >
                          File Size exceed 15MB
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <button class="btn btn-light m-2" type="button" awPreviousStep>
                    {{ "Back" | translate }}
                  </button>
                  <button
                    [disabled]="!secondFormGroup.valid"
                    class="btn btn-success m-2"
                    type="submit"
                  >
                    {{ "Submit" | translate }}
                  </button>
                </div>
              </aw-wizard-step>
            </aw-wizard>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
