<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    {{ "IssueFine" | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (ngSubmit)="onSubmit()" *ngIf="fineForm">
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <fieldset
          class="form-group border col-xs-12 col-sm-12 col-md-12 col-lg-12"
        >
          <legend class="w-auto px-2">
            {{ "VehicleDetails" | translate }}
          </legend>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <car-plate
                [plateNumber]="vehicleData.plateNumber"
                [plateCodeEn]="vehicleData.zPlateCodeNameEn"
                [plateCodeAr]="vehicleData.zPlateCodeNameAr"
                [plateColor]="vehicleData.colorClass"
                [plateTextColor]="vehicleData.textColor"
              ></car-plate>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                  <label class="form-label"
                    >{{ "OwnerName" | translate }}:</label
                  >
                  <div class="form-group">
                    <input
                      readonly
                      class="form-control bg-color-white"
                      [value]="
                        vehicleData[
                          'ownerName' + (translate.currentLang | titlecase)
                        ]
                      "
                    />
                  </div>
                   
                </div>

                <div
                  class="col-xs-1 col-sm-1 col-md-1 col-lg-1 align-self-center"
                >
                  <a href="javascript:void(0)">
                    <i
                      ngbTooltip="{{ 'PROFILE' | translate }}"
                      style="font-size: 1.73em"
                      class="fa fa-info-circle"
                      (click)="openProfileDetails()"
                    >
                    </i>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row mt-4">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label"
                    >{{ "VehicleMaker" | translate }}:</label
                  >
                  <!-- item['zVehicleMakerName' + (translate.currentLang | titlecase)] -->
                  <div class="form-group">
                    <input
                      readonly
                      class="form-control bg-color-white"
                      [value]="
                        vehicleData[
                          'zMakerName' + (translate.currentLang | titlecase)
                        ]
                      "
                    />
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label"
                    >{{ "VehicleModel" | translate }}:</label
                  >
                  <div class="form-group">
                    <input
                      readonly
                      class="form-control bg-color-white"
                      [value]="
                        vehicleData[
                          'zModelName' + (translate.currentLang | titlecase)
                        ]
                      "
                    />
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label">{{ "Year" | translate }}:</label>
                  <div class="form-group">
                    <input
                      readonly
                      class="form-control bg-color-white"
                      [value]="vehicleData.year"
                    />
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label">{{ "Color" | translate }}:</label>
                  <div class="form-group">
                    <input
                      readonly
                      class="form-control bg-color-white"
                      [value]="
                        vehicleData[
                          'zColorsName' + (translate.currentLang | titlecase)
                        ]
                      "
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="Finetype">
            {{ "FineType" | translate }}
            <span class="font-danger">*</span>
          </label>
          <div class="form-group">
            <fine-type-selection
              [formControl]="this.fineForm.controls['zFinesTypeId']"
            ></fine-type-selection>
          </div>
        </div>
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
          *ngIf="this.fineForm.value.zFinesTypeId != null"
        >
          <label for="FineReason">
            {{ "FineReason" | translate }}
            <span class="font-danger">*</span>
          </label>
          <div class="form-group">
            <fine-reason-selection
              [formControl]="this.fineForm.controls['zFinesReasonId']"
              [fineTypeId]="this.fineForm.value.zFinesTypeId"
            ></fine-reason-selection>
          </div>
        </div>
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
          *ngIf="this.fineForm.value.zFinesReasonId != null"
        >
          <label for="FineNote">
            {{ "FineNote" | translate }}
          </label>
          <div class="form-group">
            <app-text-area
              [formControl]="this.fineForm.controls['notes']"
            ></app-text-area>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer mt-4">
      <span>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!this.fineForm.valid"
          *ngIf="this.inputData.isEdit"
        >
          Submit
        </button>
        <!-- <button type="button" class="btn btn-primary" (click)="onSubmit()">
          Submit
        </button> -->
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="closeModal()"
          *ngIf="!this.inputData.isEdit"
        >
          Close
        </button>
      </span>
    </div>
  </div>
</form>
