<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

    <mat-slide-toggle></mat-slide-toggle>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label >Administrator</label>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

    <mat-slide-toggle></mat-slide-toggle>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label >Normal User</label>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

    <mat-slide-toggle (click)="changeRole()"></mat-slide-toggle>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label >Security</label>
  </div>
</div>

