.body-padding{
  padding-bottom: 50px !important;
}

.footer{
  margin-left: 0 !important;
  height: 100%;
}

.content{
  padding-top: 15px !important;
}

.header{
  margin-left: 0 !important;
}


.not-available{
  font-size: 10.5rem;
  color: rgb(230, 0, 0);
  text-align: center;
}

.qr-img{
  width: 100%;
  max-width: 500px;
}
