<div class="card">
  <div class="card-absolute">
    <div class="card-header bg-info">
      <h5>{{ cardData.visitorName }}</h5>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label class="form-label">{{ "RequestDate" | translate }}:</label>
          <div class="form-group">
            <input
              readonly
              class="form-control bg-color-white"
              [value]="cardData.requestDate | date"
            />
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label class="form-label">{{ "StatusOfRequest" | translate }}:</label>
          <label class="form-control {{ cardData.zRequestsStatusColorClass }}">
            {{
              cardData[
                "zRequestsStatusName" + (translate.currentLang | titlecase)
              ]
            }}
          </label>
        </div>

        <!-- <p>{{cardData.requestsId}}</p> -->

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <a href="javascript:void(0)">
                <i
                  (click)="openModal(cardData.requestsId, false)"
                  ngbTooltip="{{ 'View' | translate }}"
                  class="fa fa-folder-open"
                  style="font-size: 1.73em"
                ></i>
              </a>
            </div>

            <div
              class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right"
              *ngIf="cardData.zRequestsStatusId == ZRequestStatus.Rejected"
            >
              <!-- *ngIf="cardData.zRequestsStatusId == ZRequestStatus.Rejected" -->
              <a href="javascript:void(0)">
                <i
                  (click)="openModal(cardData.requestsId, true)"
                  ngbTooltip="{{ 'Modify' | translate }}"
                  class="fa fa-edit"
                  style="font-size: 1.73em"
                ></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
