<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    {{ modalTitle | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="form theme-form" *ngIf="inputForm" [formGroup]="inputForm">
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body step-indicator">
              <aw-wizard navBarLayout="large-filled-symbols">
                <aw-wizard-step
                  *ngIf="
                    this.inputData.requestsId != 0 &&
                    this.inputData.isSecurity == true
                  "
                  [navigationSymbol]="{
                    symbol: '&#xf007;',
                    fontFamily: 'FontAwesome'
                  }"
                  stepTitle="{{ 'PROFILE' | translate }}"
                >
                  <visitor-profile-view-section
                    [userData]="this.requestData.user"
                  ></visitor-profile-view-section>
                </aw-wizard-step>
                <aw-wizard-step
                  [navigationSymbol]="{
                    symbol: '&#xf2c2;',
                    fontFamily: 'FontAwesome'
                  }"
                  stepTitle="{{ 'DrivingLicense' | translate }}"
                >
                  <gate-pass-license-section
                    [licenseDetails]="this.licenseDetails"
                    [isSecurity]="this.inputData.isSecurity"
                    [licenseAttach]="this.licenseAttach"
                    (viewAttachmentFile)="viewAttachmentFile($event)"
                    (fileToUpload)="
                      checkFileSize(
                        $event.file,
                        $event.controlName,
                        $event.isPDF
                      )
                    "
                  >
                  </gate-pass-license-section>
                </aw-wizard-step>
                <aw-wizard-step
                  [navigationSymbol]="{
                    symbol: '&#xf129;',
                    fontFamily: 'FontAwesome'
                  }"
                  stepTitle="{{ 'PlateDetails' | translate }}"
                >
                  <gate-pass-car-plate-section
                    [vehicleDetails]="vehicleDetails"
                    [isSecurity]="this.inputData.isSecurity"
                  >
                  </gate-pass-car-plate-section>
                </aw-wizard-step>

                <aw-wizard-step
                  [navigationSymbol]="{
                    symbol: '&#xf1b9;',
                    fontFamily: 'FontAwesome'
                  }"
                  stepTitle="{{ 'VehicleDetails' | translate }}"
                >
                  <gate-pass-car-details-section
                    [registrationAttach]="this.registrationAttach"
                    [ownershipCardAttach]="this.ownershipCardAttach"
                    [noObjectionAttach]="this.noObjectionAttach"
                    [rentalContractAttach]="this.rentalContractAttach"
                    [vehicleDetails]="this.vehicleDetails"
                    [isSecurity]="this.inputData.isSecurity"
                    (fileToUpload)="
                      checkFileSize(
                        $event.file,
                        $event.controlName,
                        $event.isPDF
                      )
                    "
                    (viewAttachmentFile)="viewAttachmentFile($event)"
                  >
                  </gate-pass-car-details-section>
                </aw-wizard-step>
                <aw-wizard-step
                  [navigationSymbol]="{
                    symbol: '&#xf058;',
                    fontFamily: 'FontAwesome'
                  }"
                  stepTitle="{{ 'Confirmation' | translate }}"
                >
                  <gate-pass-confirmation-section
                    [inputForm]="inputForm"
                    [licenseDetails]="licenseDetails"
                    [vehicleDetails]="vehicleDetails"
                    [isSecurity]="this.inputData.isSecurity"
                    (securityUpdate)="onSubmitSecurity()"
                    (onSubmitEmitter)="onSubmit($event)"
                  >
                  </gate-pass-confirmation-section>
                </aw-wizard-step>
              </aw-wizard>
            </div>
            <!-- {{ this.visitorDetails.get("numberOfDays").value }}
              <button type="button" (click)="testData()">Test</button> -->

              <!-- <button type="button" (click)="test()">Test</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
