<div class="form-group">
  <div class="custom-file">
    <input
      type="file"
      [class.is-invalid]="ngControl.touched && ngControl.invalid"
      class="custom-file-input"
      [id]="label"
      [formControl]="ngControl.control"
      accept="application/pdf"
    />
    <label
      class="custom-file-label"
      [for]="label"
      *ngIf="ngControl.value == null"
      >{{ "Attachment.CHOOSEFILE" | translate }}</label
    >
    <label
      class="custom-file-label"
      [for]="label"
      *ngIf="ngControl.value != null"
      >{{ ngControl.value }}</label
    >
    <small class="form-text text-muted mt-3" id="attachmentHelp">
      {{ "Attachment.ATTACH" | translate }}&nbsp;{{
        "Attachment.SHOULDBE" | translate
      }}<strong>&nbsp;{{ fileType }}</strong>
      {{ "Attachment.ANDMAXSIZE" | translate }}&nbsp;<strong
        >15{{ "MB" | translate }}</strong
      >
    </small>

    <br />
    <div
      class="invalid-feedback"
      style="padding-top: 2px"
      *ngIf="ngControl.errors?.required"
    >
      {{ "Attachment.ATTACH" | translate }}
      {{ "Attachment.REQUIRED" | translate }}
    </div>
    <div
      class="invalid-feedback"
      style="padding-top: 2px"
      *ngIf="ngControl.errors?.requiredFileType"
    >
      {{ fileType }} {{ "is-required" | translate }}
    </div>
    <div
      class="invalid-feedback"
      style="padding-top: 2px"
      *ngIf="ngControl.errors?.fileSizeValidator"
    >
      {{ "Attachment.EXCEEDSIZE" | translate }}&nbsp; 15 &nbsp;{{
        "Attachment.MB" | translate
      }}
    </div>
  </div>
</div>
