<form
  class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
  *ngIf="searchForm"
  [formGroup]="searchForm"
>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h5><i class="fa fa-filter mr-2"></i>{{ "Filter" | translate }}</h5>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
          <form
            (ngSubmit)="search()"
            [formGroup]="this.searchForm"
            *ngIf="this.searchForm"
            (keyup.enter)="search()"
          >
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="name">{{ "PlateNumber" | translate }} </label>
                <app-text-input
                  formControlName="plateNumber"
                  (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                  [type]="number"
                  [label]="'PlateNumber' | translate"
                >
                </app-text-input>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label>{{ "PlateCode" | translate }}</label>
                <app-plate-code-autocomplete
                  formControlName="plateCode"
                ></app-plate-code-autocomplete>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="btn btn-success mr-4" type="submit">
                  {{ "Search" | translate }}
                </button>
                <button
                  class="btn btn-dark"
                  type="button"
                  (click)="searchReset()"
                >
                  {{ "Reset" | translate }}
                </button>
                <!-- <button
                  class="btn btn-dark"
                  type="button"
                  (click)="profileModal()"
                >
                  {{ "Test" | translate }}
                </button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div
        class="card col-xs-12 col-sm-12 col-md-3 col-lg-3"
        *ngFor="let item of dataCard"
      >
        <div class="card-absolute">
          <div class="row ml-4 mr-4"></div>
          <div class="card-body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <car-plate
                  [plateNumber]="item.plateNumber"
                  [plateCodeEn]="item.zPlateCodeNameEn"
                  [plateCodeAr]="item.zPlateCodeNameAr"
                  [plateColor]="item.colorClass"
                  [plateTextColor]="item.textColor"
                ></car-plate>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="form-label"
                      >{{ "VehicleMaker" | translate }}:</label
                    >
                    <div class="form-group">
                      <input
                        readonly
                        class="form-control bg-color-white"
                        [value]="
                          item[
                            'zVehicleMakerName' +
                              (translate.currentLang | titlecase)
                          ]
                        "
                      />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="form-label"
                      >{{ "VehicleModel" | translate }}:</label
                    >
                    <div class="form-group">
                      <input
                        readonly
                        class="form-control bg-color-white"
                        [value]="
                          item[
                            'zVehicleModelName' +
                              (translate.currentLang | titlecase)
                          ]
                        "
                      />
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="form-label">{{ "Year" | translate }}:</label>
                    <div class="form-group">
                      <input
                        readonly
                        class="form-control bg-color-white"
                        [value]="item.year"
                      />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="form-label">{{ "Color" | translate }}:</label>
                    <div class="form-group">
                      <input
                        readonly
                        class="form-control bg-color-white"
                        [value]="
                          item[
                            'zColorsName' + (translate.currentLang | titlecase)
                          ]
                        "
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                    <a href="javascript:void(0)">
                      <i
                        (click)="openModalFineHistory(item.vehicleId)"
                        ngbTooltip="{{ 'FineHistory' | translate }}"
                        class="fa fa-history"
                        style="font-size: 1.73em"
                      ></i>
                    </a>
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                    <a href="javascript:void(0)">
                      <i
                        (click)="openModalFine(item.vehicleId)"
                        ngbTooltip="{{ 'IssueFine' | translate }}"
                        style="font-size: 1.73em"
                        class="icon-receipt"
                      >
                      </i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ngb-pagination
        [boundaryLinks]="true"
        [(page)]="pagination.currentPage"
        [pageSize]="pagination.itemsPerPage"
        [collectionSize]="pagination.totalItems"
        (pageChange)="changePage($event)"
        [rotate]="true"
        [maxSize]="5"
        [boundaryLinks]="true"
      ></ngb-pagination>
    </div>
  </div>
</form>
