.dot-alert{
  width: 21px !important;
  height: 21px !important;
  right: 4px !important;
  bottom: -7px !important;
  position: relative !important;
  p{
    color: white;
    font-size: 13px;
    line-height: 1.7;
    letter-spacing: 0.7px;
    left: 0;
    top: 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
