<div class="form-group">
    <ng-select
      [items]="data"
      [class.is-invalid]="ngControl.touched && ngControl.invalid"
      [formControl]="ngControl.control"
      [clearable]="false"
      bindValue="zOwnershipTypesId"
      class="bg-color-white"
      bindLabel="{{ 'name' + (translate.currentLang | titlecase) }}"
      [placeholder]="'SELECTOWNERSHIP' | translate"
      [(ngModel)]="selectedId"
    >
    </ng-select>
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">
      {{ "is-required" | translate }}
    </div>
  </div>
