 <div class="row">

    <div class="card col-sm-12 col-xl-4">

      <div class="container-fluid mt-1">

        <div class="row">

          <div class="col-sm-3col-xl-3">
            <div class=" card-absolute">

                <div
                class="mb-2 bg-warning text-center text-dark border border-secondary h2 rounded"
                dir="ltr"
              >
                1443 | B | عُمان
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-xl-12">
                <label class="form-control">{{"FineDate"|translate}}</label>
              </div>


                  <div class="col-sm-12 col-xl-12">
                <label class="form-control">{{"FineReason"|translate}}</label>
              </div>
              <div class="col-sm-12 col-xl-12">
                <label class="form-control">{{"ActionTaken"|translate}}</label>
              </div>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
