<div class="row">
  <!-- Permit Date -->
  <fieldset
    class="form-group border col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4"
  >
    <legend class="w-auto px-2">
      <h5>{{ "DATE" | translate }}</h5>
    </legend>

    <div class="row pb-2" [formGroup]="permitDates" *ngIf="permitDates">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="VISITTYPE">
          {{ "VISITTYPE" | translate }}
        </label>
        <div class="form-group">
          <input
            readonly
            class="form-control bg-color-white"
            [value]="
              this.permitDates.get(
                'zVisitTypeName' + (translate.currentLang | titlecase)
              ).value
            "
          />
          <!-- <input
            readonly
            class="form-control bg-color-white"
            [value]="
              permitDates.value[
                'zVisitTypeName' + (translate.currentLang | titlecase)
              ]
            "
          /> -->
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
        <label for="FROM">
          {{ "FROM" | translate }}
        </label>
        <div class="form-group">
          <input
            readonly
            class="form-control bg-color-white"
            [value]="
              this.ngbDateParserFormatter.format(
                this.permitDates.get('permitDateFrom').value
              )
            "
          />
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
        <label for="TO">
          {{ "TO" | translate }}
        </label>

        <div class="form-group">
          <input
            readonly
            class="form-control bg-color-white"
            [value]="
              this.ngbDateParserFormatter.format(
                this.permitDates.get('permitDateTo').value
              )
            "
          />
        </div>
      </div>
    </div>
  </fieldset>

  <!-- Vistor Details -->
  <fieldset
    class="form-group border col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2"
  >
    <legend class="w-auto px-2">
      <h5>{{ "VISITORDETAILS" | translate }}</h5>
    </legend>

    <div class="row pb-2" [formGroup]="visitorDetails" *ngIf="visitorDetails">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <label for="CivilID">
          {{ "CivilID" | translate }}
        </label>
        <div class="form-group">
          <input
            readonly
            class="form-control bg-color-white"
            [value]="this.visitorDetails.get('civilNumber').value"
          />
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <label for="NAME">
          {{ "Name" | translate }}
        </label>
        <div class="form-group">
          <input
            readonly
            class="form-control bg-color-white"
            [value]="this.visitorDetails.get('name').value"
          />
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
        <label for="name">{{ "Gender" | translate }}:</label>
        <input
          readonly
          class="form-control bg-color-white"
          [value]="
            this.visitorDetails.get(
              'zGenderName' + (translate.currentLang | titlecase)
            ).value
          "
        />
        <!-- <input
          readonly
          class="form-control bg-color-white"
          [value]="
            visitorDetails.value[
              'zGenderName' + (translate.currentLang | titlecase)
            ]
          "
        /> -->
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
        <label for="MobileNumber">{{ "MobileNumber" | translate }}:</label>
        <input
          readonly
          class="form-control bg-color-white"
          [value]="this.visitorDetails.get('phone').value"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
        <label for="name">{{ "Nationality" | translate }}:</label>

        <input
          readonly
          class="form-control bg-color-white"
          [value]="
            this.visitorDetails.get(
              'zNationalityName' + (translate.currentLang | titlecase)
            ).value
          "
        />
        <!-- <input
          readonly
          class="form-control bg-color-white"
          [value]="
            visitorDetails.value[
              'zNationalityName' + (translate.currentLang | titlecase)
            ]
          "
        /> -->
      </div>
      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2"
        *ngIf="this.visitorDetails.get('numberOfDays').value > 14"
      >
        <label for="name">{{ "RelationShip" | translate }}:</label>
        <input
          readonly
          class="form-control bg-color-white"
          [value]="
            this.visitorDetails.get(
              'zRelationshipsName' + (translate.currentLang | titlecase)
            ).value
          "
        />
        <!-- <input
          readonly
          class="form-control bg-color-white"
          [value]="
            visitorDetails.value[
              'zRelationshipsName' + (translate.currentLang | titlecase)
            ]
          "
        /> -->
      </div>
    </div>
  </fieldset>
  <!-- Driving License Details -->
  <!-- *ngIf="this.inputForm.value.visitorDetails.numberOfDays > 14" -->
  <fieldset
    class="form-group border col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2"
    *ngIf="this.visitorDetails.get('numberOfDays').value > 14"
  >
    <legend class="w-auto px-2">
      <h5>{{ "DrivingLicense" | translate }}</h5>
    </legend>

    <div
      class="row pb-2"
      [formGroup]="drivingLicenseDetails"
      *ngIf="drivingLicenseDetails"
    >
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
        <label for="ExpiryDate">
          {{ "ExpiryDate" | translate }}
        </label>

        <div class="form-group">
          <input
            readonly
            class="form-control bg-color-white"
            [value]="
              this.ngbDateParserFormatter.format(
                this.drivingLicenseDetails.get('expairyDate').value
              )
            "
          />
        </div>
      </div>
    </div>
  </fieldset>

  <!-- Vehicle Details -->
  <fieldset
    class="form-group border col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2"
    *ngIf="this.visitorDetails.get('numberOfDays').value > 14"
  >
    <legend class="w-auto px-2">
      <h5>{{ "VehicleDetails" | translate }}</h5>
    </legend>

    <div class="row pb-2" [formGroup]="vehicleDetails" *ngIf="vehicleDetails">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4">
        <car-plate
          [plateNumber]="this.vehicleDetails.get('plateNumber').value"
          [plateCodeEn]="this.vehicleDetails.get('zPlateCodeNameEn').value"
          [plateCodeAr]="this.vehicleDetails.get('zPlateCodeNameAr').value"
          [plateColor]="this.vehicleDetails.get('colorClass')?.value"
          [plateTextColor]="this.vehicleDetails.get('colorText')?.value"
        ></car-plate>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <label for="name">{{ "VehicleMaker" | translate }}:</label>
        <input
          readonly
          class="form-control bg-color-white"
          [value]="
            this.vehicleDetails.get(
              'zMakerName' + (translate.currentLang | titlecase)
            ).value
          "
        />
        <!-- <input
          readonly
          class="form-control bg-color-white"
          [value]="
            vehicleDetails.value[
              'zMakerName' + (translate.currentLang | titlecase)
            ]
          "
        /> -->
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <label for="VehicleModel">{{ "VehicleModel" | translate }}:</label>
        <input
          readonly
          class="form-control bg-color-white"
          [value]="
            this.vehicleDetails.get(
              'zModelName' + (translate.currentLang | titlecase)
            ).value
          "
        />
        <!-- <input
          readonly
          class="form-control bg-color-white"
          [value]="
            vehicleDetails.value[
              'zModelName' + (translate.currentLang | titlecase)
            ]
          "
        /> -->
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
        <label for="zColorsId">{{ "Colors" | translate }}:</label>

        <input
          readonly
          class="form-control bg-color-white"
          [value]="
            this.vehicleDetails.get(
              'zColorsName' + (translate.currentLang | titlecase)
            ).value
          "
        />
        <!-- <input
          readonly
          class="form-control bg-color-white"
          [value]="
            vehicleDetails.value[
              'zColorsName' + (translate.currentLang | titlecase)
            ]
          "
        /> -->
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
        <label for="Year">{{ "Year" | translate }}:</label>
        <year-picker
          formControlName="year"
          [yearData]="this.vehicleDetails.get('year').value"
          [readonlyStatus]="!this.vehicleDetails.controls['year'].disabled"
        ></year-picker>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
        <label for="IssueDate">
          {{ "IssueDate" | translate }}
        </label>

        <div class="form-group">
          <input
            readonly
            class="form-control bg-color-white"
            [value]="
              this.ngbDateParserFormatter.format(
                this.vehicleDetails.get('registrationIssue').value
              )
            "
          />
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
        <label for="ExpiryDate">
          {{ "ExpiryDate" | translate }}
        </label>

        <div class="form-group">
          <input
            readonly
            class="form-control bg-color-white"
            [value]="
              this.ngbDateParserFormatter.format(
                this.vehicleDetails.get('registrationExpairy').value
              )
            "
          />
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2">
        <label for="zOwnershipTypeId">{{ "OwnerShipType" | translate }}:</label>
        <input
          readonly
          class="form-control bg-color-white"
          [value]="
            this.vehicleDetails.get(
              'zOwnershipTypeName' + (translate.currentLang | titlecase)
            ).value
          "
        />
        <!-- <input
          readonly
          class="form-control bg-color-white"
          [value]="
            vehicleDetails.value[
              'zOwnershipTypeName' + (translate.currentLang | titlecase)
            ]
          "
        /> -->
      </div>
      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2"
        *ngIf="vehicleDetails.get('zOwnershipTypeId').value == 1"
      >
        <label for="OwnVehicle">{{ "OwnVehicle" | translate }}:</label>
        <mat-slide-toggle
          class="m-4"
          [checked]="vehicleDetails.get('owned').value"
          readonly
          disabled
        >
          {{
            (vehicleDetails.get("owned").value == true ? "Yes" : "No")
              | translate
          }}
        </mat-slide-toggle>
      </div>
    </div>
  </fieldset>

  <fieldset
    class="form-group border col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4"
    *ngIf="
      this.isSecurity ||
      (inputForm.value.isEdit == true && inputForm.value.requestsId != 0)
    "
  >
    <legend class="w-auto px-2">
      <h5>{{ "OfficalUseOnly" | translate }}</h5>
    </legend>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
            <label for="Note">{{ "Note" | translate }}:</label>
            <app-text-area
              [formControl]="
                inputForm.controls['securitySide'].controls['notes']
              "
            ></app-text-area>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <!-- <div
    class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4"
    *ngIf="this.isSecurity"
  >
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
        <label for="Note">{{ "Note" | translate }}:</label>
        <app-text-area
          [formControl]="inputForm.controls['securitySide'].controls['notes']"
        ></app-text-area>
      </div>
    </div>
  </div> -->

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row mt-4">
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-start"
      >
        <button class="btn btn-light mr-1" type="button" awPreviousStep>
          {{ "Back" | translate }}
        </button>
        <!-- <button class="btn btn-light mr-1" type="button" (click)="test()">
          Test
        </button> -->
      </div>
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-end"
      >
        <button
          class="btn btn-success mr-1"
          type="button"
          [disabled]="!inputForm.valid"
          awNextStep
          (click)="onSubmit()"
          *ngIf="this.isSecurity == false && inputForm.value.isEdit == true"
        >
          {{ "Submit" | translate }}
        </button>
        <button
          class="btn btn-success mr-1"
          type="button"
          [disabled]="!this.inputForm.get('securitySide').valid"
          (click)="verfiyRequest()"
          *ngIf="this.isSecurity"
        >
          {{ "Submit" | translate }}
        </button>
        <button
          class="btn btn-light mr-1"
          type="button"
          (click)="closeModal()"
          *ngIf="inputForm.value.isEdit == false && isSecurity == false"
        >
          {{ "Close" | translate }}
        </button>
        <!-- <button class="btn btn-primary mr-1" type="button" awNextStep>
          Next
        </button> -->
      </div>
    </div>
  </div>
</div>
