<form [formGroup]="colorsForm" >
  <div>
    <div class="container-fluid mt-1">
      <div class="row">
        <div class="col-sm-12 col-xl-12">
          <div class="card card-absolute">
            <div class="card-header bg-primary">
              <h5>{{"AddColor"|translate}}</h5>
            </div>
            <div class="card-body">
              <label for="Color(Ar)">{{"Color-Ar"|translate}}<span class="font-danger">*</span></label>
              <app-text-input
                formControlName="color"
              >
              </app-text-input>

              <label for="Color(En):">{{"Color-En"|translate}}<span class="font-danger">*</span></label>
              <app-text-input
                formControlName="color"
              >
              </app-text-input>
            </div>
            <div class="row">
              <button class="btn btn-dark m-2" >{{"Cancel"|translate}}</button>
              <button class="btn btn-success m-2" >{{"Submit"|translate}}</button>

            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
  </form>

