<div class="row" [formGroup]="visitorDetails" *ngIf="visitorDetails">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <label for="name">{{ "CivilID" | translate }} <span class="font-danger">*</span>:</label>

    <app-text-input
      (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
      [type]="'number'"
      [formControl]="visitorDetails.controls['civilNumber']"
      [label]="'FORM.CIVILIDVISITOR' | translate"
    >
    </app-text-input>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row mt-4">
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-start"
      >
        <button class="btn btn-light mr-1" type="button" awPreviousStep>
          {{"Back"|translate}}
        </button>
      </div>
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-end"
      >
        <button
          class="btn btn-primary mr-1"
          type="button"
          *ngIf="!isSecurity && visitorDetails.value.isEdit == true"
          [disabled]="visitorDetails.get('civilNumber').value == null"
          (click)="getVisitorDetails()"
          awNextStep
        >
        {{ "NEXT" | translate }}
        </button>
        <button
          class="btn btn-primary mr-1"
          type="button"
          *ngIf="!visitorDetails.value.isEdit && isSecurity == false"
          awNextStep
        >
          {{ "NEXT" | translate }}
        </button>
        <button
          *ngIf="isSecurity"
          class="btn btn-primary mr-1"
          type="button"
          awNextStep
        >
        {{ "NEXT" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
